.jumbo {
  @include main-container;
  height: 500px;
  margin-top: 5%;
  font-size: 2.5em;

  .heading-col {
    width: 50%;
    float: left;
    height: 100%;

      .heading-image {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
        }
      }

      .heading-text h5 {
        margin-top: 5%;
      }

      .signing-buttons {
        margin-top: 3%;

        span {
          font-size: .5em;
          font-weight: bold;
        }

        button {
          @include button-style;
          width: 250px;
          font-size: 1em;
          vertical-align: middle;
          height: 30px;
          padding-bottom: 5.5%;

            img {
              width: $logo_width;
              margin-bottom: 4.3%;
            }

            span {
              vertical-align: super;
            }
          }
        }
      }
  }

.container-how {
  width: 100%;
  background-color: $primary_background_color;

  .main-section-container {
    @include main-container;
    padding-top: 2%;

    .box-title {
      padding-bottom: 5%;
      text-align: center;
      font-weight: bold;
      width: 50%;
      margin: auto;

      &.last h2 {
        margin-top: 8%;
      }


      h2 {
        margin-top: 2%;
      }
    }

    .box-section {
      height: 360px;

        .main-boxes {
          float: left;
          width: 33%;

          .box-image {
            height: 90%;
            display: flex;
            justify-content: center;

            img {
              height: 150px;
            }
          }

          .box-text {
            margin-top: 6%;
            height: 10%;
            text-align: center;
          }
        }
      }
    }

    .single-box {
      width: 33%;
      margin: -4% auto 0 auto;

      img {
        width: 100%;
      }
    }

    .divisor {
      width: 90%;
      margin: auto;
      height: 1.6px;
      background-color: $font_color;
      margin-bottom: 2.5%;
      margin-top: 5%;
    }
}

.container-learn {
  width: 100%;
  margin-top: 5%;

    .left-container {
      float: left;
      width: 80%;
      background-color: red;
      height: 700px;

      .left-image {
        float: left;
        width: 70%;
        background-color: pink;
        height: 100%;

        img {
          height: 420px;
        }
      }

      .left-text {
        background-color: yellow;
        height: 100%;
        font-weight: bold;
        font-size: 1.8em;

        h3 {
          margin-bottom: 3%;
          margin-top: 3%;
        }

        p {
          margin-bottom: 3%;
          font-weight: normal;
        }

        span {
          color: blue;
        }

        .left-text-image {
          height: 327px;
          background-color: blue;
          width: 303px;
          float: right;

          img  {
            width: 100%;
            margin-top: 50px;
          }

        }
      }
    }

    .right-container {
      float: right;
      width: 80%;
      background-color: black;
      height: 700px;

      .right-image {

      }
    }
  }
